
#topHeader{
    background-color:rgba(14, 25, 189, 0.473);
    
}

#topHeader a{
    color:white;
    font-weight: 600;
    font-size: 0.89rem;
}
.header-fluid{
    padding-right: 0;
    padding-left: 0;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    

}


#header {
    color: #fff;
    background: #e74c3c;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
}


#menu {
    list-style: none;
    margin: 0; 
    padding: 0;

}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #fff;
    padding: 15px 10px;
    display: block;
}

#menu li a:hover {
    background: #c0392b;
}

.address p{
    font-weight: 600;
}

#footer-sidebar{
    color:#fff;
    background: #34495e;
    padding: 20px 0

}

.footer-widget h4:after{
    content: "";
    background: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}

.footer-widget a{
    color: #fff;
}

.latest-news{
    list-style: none;
    padding: 0;
    margin: 0;
    
}


.latest-news li{
    margin-bottom: 3px;
}

.latest-news li:before{
    content: "\f101";
    font-family: FontAwesome;
    padding-right: 5px;
}


#footer{
    color: #fff;
    background: #2c3e50;
    padding:10px 0;
}

#social-icon{
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;   
}

#social-icons li{
    display: inline-block;
    padding-left: 5px;
    }

    #social-icons li a{
        color: #fff;
        font-size: 23px;
    }


    /* start of top footer */

.full-footer{
    background-color:#243d4f;

}

.top-footer p{
    color: white;
}

.top-footer h3{
    color: white;
}

.top-footer a{
    color: white;
}

/* end of top footer */

/* start of bottom footer */

.bottom-footer{
    background-color:  #031b2e;

}

.bottom-footer p{
    color: white;
    
}
a:hover{
    text-decoration: none;
}

/* end of bottom footer */